# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Dependencies & build output
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env
.env
.env.local
